name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
      - name: Install dependencies
        run: |
          uv sync --locked
      - run: uv run robotpy test

  test-coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
      - name: Install dependencies
        run: |
          uv sync --locked
      - run: uv run robotpy coverage test --no-isolation
      - run: uv run coverage xml
      - uses: actions/upload-artifact@v6
        with:
          name: coverage-data
          path: |
            coverage.xml
            .coverage*
          include-hidden-files: true

  report-coverage:
    needs: [test-coverage]
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: coverage-data
      - uses: codecov/codecov-action@v5
        with:
          use_oidc: true

  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
      - name: Install dependencies
        run: |
          uv sync --locked
      - name: mypy
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          run: uv run mypy --show-column-numbers .
